/*********************************************
*
* This the stylesheets for the Final Project
*
* Author: Joaquin Gomez
*
* Purpose: Stylesheets for the Final Project
*
********************************************/
body{
    background-color: blue;
    color: white;
}
h1{
    font-weight: 900;
}