/*********************************************
* This the stylesheets for the Final Project
* Author: Joaquin Gomez
* Purpose: Stylesheets for the Final Project
********************************************/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
navbar{
    background: #7cdadf;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 80px;
}
navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    justify-content:left;
    padding-left: 20px;
    margin-left: 20px;
    position: relative;
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}
button{
    background: #7cdadf;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
button a{
    color: white;
    font-weight: bold;
    font-size: 15px;
}